@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Roboto|Roboto+Condensed');
/* font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #000000;  
}
.wrapper {
    max-width: 980px;
    margin: 0 auto;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.header-top{
    padding-top: 24px;
}
.header-top>a>img{
    display: block;
    margin: auto;
}
.header-bot__properties>img{
    display: none;
}
.header-description>li{
    display: flex;
    width: 60%;
    line-height: 3;
    margin: auto;
    justify-content: space-around;
    font-family: 'PT Sans', sans-serif;
    color:  #ededed;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 26.776px;
    text-align: center;
    padding: 0 50% 0;
}
.gold-txt{
    font-weight: 700;
    line-height: 45.069px;
    background: linear-gradient(330deg, #ede193 0%,  #b69d53 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    margin: 32px 0 28px 0;
    word-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
} 
.header-bot_properties__intro{
    font-family: Roboto;
    color:  #ffffff;
    font-size: 1.375rem;
    font-weight: 500;
    }
.header-bot_properties__list{
    margin-bottom: 24px;
    margin-top: 24px;
}
.header-bot_properties__item{
    font-family: 'PT Sans', sans-serif;
    color:  #ffffff;
    font-size: 1rem;
    font-weight: 400;
    background-image: url(img/pick.png);
    background-repeat: no-repeat;
    padding-left: 35px;
    line-height: 24px;  
    padding-bottom: 9px;
}
.header-bot_properties__item:last-child{
    padding-bottom: 0;
}
.orange{
    color: #fc481a;
}
.header-bot__discont>img{
    display: block;
    margin: auto;
}
.header-bot__discont>p{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    font-size: 19px;
    text-align: center;
    margin: 8px 0 0 0;
}
.number-block{
    display: flex;
}
.number-block>p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #000;
    background: #fff;
    margin-right: 5px;
    padding: 0 10px;
    border-radius: 5px;
    position: relative; }
.number-block>p:before {
    content: ' ';
    display: block;
    width: 177%;
    height: 1px;
    background: #ccc;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%); 
}
.number-block>p:first-child {
    opacity: 0.5; 
}
.header-bot__form__top{
    display: flex;
}
.header-bot__form__top>p{
    font-family: 'PT Sans', sans-serif;
    color:  #ffffff;
    font-size: 1rem;
    line-height: 16.882px;
    text-align: center;
}
.header-bot__form{
    margin-top: 20px;
}
.form__block{
    margin-top: 29px;
  text-align: center;
  padding: 15px;
  padding-top: 120px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.form__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.125rem ;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    background: -o-radial-gradient(at top, #c36546, #421309);
    background: radial-gradient(at top, #c36546, #421309);
    border-radius: 10px 10px 50% 50%;
    position: absolute;
    width: 380px;
    top: 40px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden; 
}
.form__header:before {
    content: '';
    position: absolute;
    top: -80px;
    left: -120px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(247, 247, 247, 0.1); }
.form__header>div:nth-child(2){
    margin-left: 26px;       
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
.form__header span {
    font-size: 2.625rem;
     letter-spacing: 1.5px; 
}
.form__input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    margin-bottom: 15px;
}
.form__input:last-child {
    margin-bottom: 25px;
}
.form__button{
    position: relative;
    border: 0;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 100%;
background: -webkit-linear-gradient(90deg, #d73f17 0%, #fa4a1b 100%);
background: -moz-linear-gradient(90deg, #d73f17 0%, #fa4a1b 100%);
background: -o-linear-gradient(90deg, #d73f17 0%, #fa4a1b 100%);
background: -ms-linear-gradient(90deg, #d73f17 0%, #fa4a1b 100%);
background: linear-gradient(0deg, #d73f17 0%, #fa4a1b 100%);
font-family: 'PT Sans Narrow', sans-serif;
font-weight: bold;
font-size: 16px;
color: #fff;
margin-bottom: 23px;
}
.form__button>img{
    position: absolute;
    top: 0;
    left: 0;
    background-color:  #b13412;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}
.secure__txt>span{
    font-family: 'PT Sans Narrow', sans-serif;
    color:  #000000;
    font-size: 13px;
    text-align: right;
}
.secure__txt>img{
    margin-right: 6px;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!2 */

.composition{
    background: url(img/composition.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    text-align: center;
    padding-top: 43px;
    margin-bottom: 67px;
}
.composition>h2{
    font-family: 'PT Sans Narrow', sans-serif;
    color:  #ffffff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 65.084px;
    text-align: center;
    margin-bottom:  22px;
}
.composition>h4{
    font-family: 'PT Sans Narrow', sans-serif;
color:  #ffffff;
font-size: 1.385rem;
font-weight: 400;
line-height: 52px;
margin-bottom: 25px;
}
.composition__btn-block{
    width: 100%;
    border-radius: 10px;
    padding: 30px 50px 50px 65px;
    text-align: center;
    background: #fff;
    margin: 0 auto;
}
.composition__btn-block__top>h3{
    font-family: 'PT Sans Narrow', sans-serif;
    color:  #000000;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 52px;
}
.composition__btn-block__top>div{
    border-radius: 50%;
background-color:  rgba(0, 0, 0, 0.1);
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
}
.composition__btn-block__bot{
    margin-top: 40px;
}
.composition__btn-block__bot>button{
    border-radius: 10px;
    position: relative;
    padding: 26px 0;
    background: #fc481a;
    border: none;
    overflow: hidden;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
/* !!!!!!!!!!!!!!!!! */
.composition__btn-block__bot>button{
    display: block;
    width: 100%;
}
.composition__btn-block__top>div{
    margin: auto;
}
.top-side {
    width: 150%;
    height: 50px;
    background: #fff;
    opacity: 0.3;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 15%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
}
.explanations{
    background-color: #fff;
    background: url(img/bg+girl.png);
    background-repeat: no-repeat;
    padding-left: 10px;
    border-radius: 15px;
}
.explanations>h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.875rem;
    padding-top: 23px;
    margin-bottom: 25px;
    line-height: 1.1;
}
.explanations>p{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    padding-bottom: 38px;
}
.explanations>p>span{
    text-transform: uppercase;
    color: inherit;
    font-weight: 800;
}
.advantage{
    background-image: url(img/advantage.png);
    background-repeat: no-repeat;
    background-position: -30% 100%;
    padding-bottom: 70px;
}
.advantage>h2{
    font-family: 'PT Sans', sans-serif;
    color:  #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
}
.advantage>h2>span{
    font-weight: 100;
}
.advantage__content__product>img{
    width: 80%;
    
    display: block;
    margin: auto;
}
.advantage__content__product{
    margin: 17px 0 0 -70px;
}
.advantage__content__item{
   
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}
.advantage__content__item>figure>figcaption{
    width: 100%;
      background: #fff;
      text-align: center;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      font-family: 'PT Sans', sans-serif;
      font-weight: 800;
      font-size: 16px;
      height: 80px;
      padding-top: 20px;
      margin-top: -6px;
}
.advantage__content__item>figure>img{
    width: 100%;
    z-index: 1;
}
.advantage__content__list{
    padding-top: 60px;
}
.opinion{
    padding-top: 34px;
    padding-left: 24px;
    padding-bottom: 23px;
    background-color: #fff;
    border-radius: 7px;
   
}

.opinion__content>h2{
    margin-bottom: 34px;
    font-family: 'PT Sans', sans-serif;
    color:  #000000;
    font-size: 3rem;
    font-weight: 700;
}
.opinion__content>p{
    font-family: 'PT Sans', sans-serif;
color:  #000000;
font-size: 1rem;
font-weight: 400;
line-height: 24.018px;
margin-bottom: 12px;
}
.opinion__content>span{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 800;
    position: relative;
    margin-right: 5%;
}
@media (min-width: 425px){
    .advantage__content__product>img{
        width: auto;
    }
    .header-bot__form__top{
        display: block;
    }
    .number-block {
        padding-left: 45%;
        padding-right: 45%;
        justify-content: space-evenly;
    }
    .form__block{
        width: 75%;
        margin: auto;
        margin-top: 20px;
    }
    .composition__btn-block{
        width: 75%;
    }
    .advantage__content{
        display: flex;
        flex-direction: column-reverse;
    }
    .advantage__content__list{
        display: flex;
        flex-wrap: wrap;
    }
    .advantage__content__item{
        flex-basis: 40%;
    }
}
@media (min-width: 768px){
    .explanations>p{
        width: 70%;
    }
    .form__block{
        width: 50%;
    }
}
@media (min-width: 960px){
    .header{
        background-image: url(img/main-bg.png);
        background-repeat: no-repeat;
    }
    .header-top{
        display: flex;
    }
    .header-description{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .header-top>a>img{
        display: inline-block;
        margin: none;
    }
    .header-description>li{
        justify-content: unset;
        width: 29%;
        padding: 0 0;   
    }

    .gold-txt{
        font-size: 3.5rem;
    }
    .header-bot{
        display: flex;
    }
    .form__header>div:nth-child(2){
        margin-left: 0;

    }
    .form__block{
        width: auto;
    }
    .header-bot__form__top{
        display: flex;
    }
    .number-block{
        padding: 0 0 0;
    }
    .header-bot__form__top>p{
        text-align: left;
    }
    .header-bot__discont{
        position: relative;
        bottom:0px;
        align-self: flex-end;
        padding-bottom: 110px;
        margin-left: -40px
    }
    .header-bot__properties>img{
        display: block;
    }
    .header-bot__discont>img{
        display: block;
        margin: 0 0;
    }
    .form__header:before{
        left: -110px;
    }
    
    .composition__btn-block{
        width: 70%;
    }
    .composition__btn-block__top{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .composition__btn-block__top>div {
        margin: 0 0;
    }
    .composition__btn-block__bot>button{
        display: inline-block;
        width: 48%;
        font-size: 24px;
    }
    .explanations{
        padding-left: 30px;
    }
    .explanations>h2{
        font-size: 2.6875rem;
        width: 78%;
    }
    .explanations>p{
        width: 60%;
    }
    .advantage__content{
        display: flex;
        flex-direction: row;
    }
    .advantage__content__product>img{
        width: 100%;
        margin: 0 0;
        padding-left: 20px;
        padding-top: 87px
    }
    .advantage__content__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 70%;
    }
    .advantage__content__item {
        flex-basis: 29%;
    }
    .opinion__content{
        width: 70%;
    }
    .opinion{
        background-image: url(img/doctor.png);
        background-repeat: no-repeat;
        background-position: 118%, 0%;
    }
}