*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.conteiner{
    width: 100%;
    height: 100vh;
}
.logo-nav{
    background-color:  #ffffff;
    height: 91px;
    padding-top: 38px;
}
.logo{
    margin-left: 15%;
    margin-right: 35%;
}
.logo,.main-menu{
    display: inline-block;
    vertical-align: top;
}
.logo-txt{
    font-family: Roboto;
color:  #555252;
font-size: 30px;
font-weight: 300;
line-height: 32px;
text-transform: uppercase;
}
.first-letter-logo{
    font-family: Roboto;
    color:  #1abc9c;
    font-size: 30px;
    font-weight: 900;
    line-height: 32px;
}
.nav-item{
    display: inline-block;
	/* margin-left: -4px; */
}


.nav-link{
    text-transform: uppercase;
	padding: 16px 16px;
	font-family: OpenSans;
    color:  #0f0101;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    vertical-align: middle;
}
.nav-link:hover{
    color:  #1abc9c;
}
.slider{
    background-image: url(../img/slide4.jpg);
    position: relative;
}
.text-slider{
    padding-top: 219px;
    padding-left: 20%;
    background-color:  rgba(0, 0, 2, 0.52);
    height: 600px;
}
.slider-txt-title{
    text-transform: uppercase;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
}
.slider-txt{
    text-transform: uppercase;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
}
.block-click1{
    background-color:  rgba(78, 198, 171, 0.65);
    font-family: Pe;
    color:  #ffffff;
    text-align: center;
    font-size: 100px;
    line-height: 80px;
    position: absolute;
    width: 104px;
    height: 104px;
    display: block;
    left: 10%;
    top: 225px;
}
.block-click2{
    background-color:  rgba(78, 198, 171, 0.65);
    font-family: Pe;
    color:  #ffffff;
    text-align: center;
    font-size: 100px;
    line-height: 80px;
    position: absolute;
    width: 104px;
    height: 104px;
    display: block;
    left: 80%;
    top: 225px;
}
.new-colection{
    background-color:  #e9f0fd;
    height: 676px;
    padding-top: 101px;
}
.title-of-colection{
    position: relative;
}
.range-of-product{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 121px;
    position: relative;
}
.new-colection-font{
    text-transform: uppercase;
    text-align: center;
    font-family: Roboto;
    color:  #515151;
    font-size: 48px;
    font-weight: 900;
    line-height: 32px;
}
.new-colection-font::after{
    background-color:  #1abc9c;
    content: " ";
    display: block;
    width: 10%;
    height: 7px;
    top: 66px;
    left: 45%;
    position: absolute;
}
.photo1,.photo2,.photo3{
    display: inline-block;
    margin-right: 30px;
    position: relative;
}
.photo4{
    display: inline-block;
    margin: 0;
    position: relative;
}
.background-figcaption1,.background-figcaption2,.background-figcaption3,.background-figcaption4{
    background-color:  #323232;
    width: 255px;
    height: 40px;
    padding-left: 13px;
    top: 282px;
    position: absolute;
}
.background-figcaption1::after{
    background-color:  rgba(255, 255, 255, 0.44);
    width: 54px;
    left: 201px;
    height: 40px;
    content: "$26";
    position: absolute;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
}
.background-figcaption2::after{
    background-color:  rgba(255, 255, 255, 0.44);
    width: 54px;
    left: 201px;
    height: 40px;
    content: "$31";
    position: absolute;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
}
.background-figcaption3::after{
    background-color:  rgba(255, 255, 255, 0.44);
    width: 54px;
    left: 201px;
    height: 40px;
    content: "$21";
    position: absolute;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
}
.background-figcaption4::after{
    background-color:  rgba(255, 255, 255, 0.44);
    width: 54px;
    left: 201px;
    height: 40px;
    content: "$56";
    position: absolute;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
}
.txt-figcaption{
    text-transform: uppercase;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;
} 

.icons {
    display: none;
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    line-height: 32px;
    top: 101px;
    text-align: center;
}

.icons i {
	 border-width: 1px;
    border-color:  #ffffff;
    border-style: solid;
    padding: 13px 12px;
    margin-right: 9px;
}

.icons i:hover {
	background-color: #1abc9c;
}
.icons .hover-cart{
    background-color: #323232;
    margin: 7px 0 0 0;
    width: 206px;
}
.icons .hover-clock{
    margin-right: 0;
}
.txt-cart{
    font-family: OpenSans;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 20px;
}
.photo1:hover .icons{
display: block;
z-index: 1;
}
.photo2:hover .icons{
    display: block;
    z-index: 1;
    }
    .photo3:hover .icons{
        display: block;
        z-index: 1;
        }
        .photo4:hover .icons{
            display: block;
            z-index: 1;
            }
.photo1:hover::after{
    content: "";
    border-width: 10px;
    border-color:  #ffffff;
    border-style: solid;
    background-color:  #000000;
    opacity: 0.55;
    width: 235px;
    height: 262px;
    position: absolute;
    top: 0;
}
.photo2:hover::after{
    content: "";
    border-width: 10px;
    border-color:  #ffffff;
    border-style: solid;
    background-color:  #000000;
    opacity: 0.55;
    width: 235px;
    height: 262px;
    position: absolute;
    top: 0;
}
.photo3:hover::after{
    content: "";
    border-width: 10px;
    border-color:  #ffffff;
    border-style: solid;
    background-color:  #000000;
    opacity: 0.55;
    width: 235px;
    height: 262px;
    position: absolute;
    top: 0;
}
.photo4:hover::after{
    content: "";
    border-width: 10px;
    border-color:  #ffffff;
    border-style: solid;
    background-color:  #000000;
    opacity: 0.55;
    width: 235px;
    height: 262px;
    position: absolute;
    top: 0;
}
.photo1:hover .background-figcaption1{
    background-color:  #1abc9c;;
    width: 255px;
    height: 40px;
    padding-left: 13px;
   
}
.photo2:hover .background-figcaption2{
    background-color:  #1abc9c;;
    width: 255px;
    height: 40px;
    padding-left: 13px;
    top: 282px;
}
.photo3:hover .background-figcaption3{
    background-color:  #1abc9c;;
    width: 255px;
    height: 40px;
    padding-left: 13px;
    top: 282px;
}
.photo4:hover .background-figcaption4{
    background-color:  #1abc9c;;
    width: 255px;
    height: 40px;
    padding-left: 13px;
    top: 282px;
}
footer{
    background-color:  #323232;
    height: 88px;
    text-align: center;
    padding-top: 38px;
}

.footer-txt{
    font-family: OpenSans;
color:  #fefefe;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
}
.last-words{
    font-family: OpenSans;
color:  #46bfa9;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
}
