@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* Press+Start+2P|Yeseva+One */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.wrapper{
    background-color: #000000;
    width: 100%;
    height: 2000px;
}
#slide-show{
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.autor_txt{
    opacity: 0.4;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: absolute;
    bottom: 35px;
    left: 35px;
}
.txt_scroll{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 10px;
    line-height: 60px;
}
.icon-blind{
    font-size: 20px;
    color: #ffffff;
    display: block; 
}
.scroll_plz{
    position: absolute;
    bottom: 200px;
    right: 50px;
    font-weight: 200;
    display: flex;
}
.icon-blind1{
    animation: blimingArrow1 2s ease infinite;
}
.icon-blind2{
    animation: blimingArrow2 2s ease infinite;
}
.icon-blind3{
    animation: blimingArrow3 2s ease infinite;
}
  @keyframes blimingArrow1 {
    0% { opacity: 0.1; }
    25%{ opacity: 0.5; }
    50% { opacity: 1; }
    75%{  opacity: 0.5; }
    100% {  opacity: 0.1; }
  }

  @keyframes blimingArrow2 {
    0% { opacity: 0.5; }
    25%{ opacity: 1; }
    50% { opacity: 0.5; }
    75%{  opacity: 0.1; }
    100% {  opacity: 0.5; }
  }
  @keyframes blimingArrow3 {
    0% { opacity: 1; }
    25%{ opacity: 0.5; }
    50% { opacity: 0.1; }
    75%{  opacity: 0.5; }
    100% {  opacity: 1; }
  }
