*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    height:50vh;
    background-image: url(img/mon.jpeg) ;
    background-attachment: fixed;
    background-size:cover;
    

}
.header__nav{
    display: flex;
    background-color: #000000;
    align-items: betwen;
}
.icon-logo{
    font-size: 2rem;
    color: #ffffff;
}
.logo-txt{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 2rem;

}
.gg{
    height: 1000px;
}
.fixed-nav {
    position: fixed;
    box-shadow:0 5px 0 rgba(0,0,0,0.1);
  }
  