* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    padding-top:41px ;
    padding-bottom: 41px;
    
    background-image: url("../img/bck.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
li{
    list-style-type: none;
}
.conteinerbox{
    width: 1024px;
    height: 100%;
    background-color: #fff;
    margin: auto;
    padding-top:117px;
    padding-right:61px;
    padding-bottom:88px;
    padding-left: 61px;
}
.conteiner-top{
    display: inline-block;
    border-bottom: 1px solid #dfdcdc;
    height: 537px;
}
.left-top-block,.right-top-block{
    display: inline-block;
    vertical-align: top;
}
.left-top-block{
    display: inline-block;
    width: 641px;
}
.title{
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    color: #263555;
    font-size: 32px;
    font-weight: 300;
}
.mainfont1{
    margin-bottom: 48px;
}
.pth{
    float: left;
    margin:0 24px 23px 0;
}
.h3font{
     font-family: Arial;
    color:#263555;
    font-size: 15px;
    font-weight: 400;

}
#h3font-1{
    margin-bottom: 15px;
}
.small-font{
    font-family: Arial;
color:  #4e5050;
font-size: 13px;
font-weight: 400;
line-height: 19px;
}
.right-top-block{
    margin-left: 51px;
    width: 200px;
    counter-reset: counter;
}
.litext{
    display: inline-block;
}
.for-first-li-list{
    margin-bottom: 32px;
}
.first-li::before{
	vertical-align: top;
	line-height: 28px;
    margin-left: -26px;
    margin-top: -5px;
	content:counter(counter);
	display: inline-block;
	width: 26px;
    height: 28px;
	background-color: #35b1e6;
	text-align: center;
	border-radius: 100%;

}

.first-li{
	counter-increment: counter;

}
.first-li{
    margin-bottom: 14px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.conteiner-bottom{
    margin-top: 29px;
    display: inline-block;
}
.left-bottom-block,.right-bottom-block{
    display: inline-block;
    vertical-align: top;
}
.left-bottom-block{
    width: 640px;
}
#mainfont2{
    margin-bottom: 26px;
}
#h3block3{
    margin-bottom: 25px;
}
.right-bottom-block{
    margin-left: 45px;
    width: 207px;
}
#mainfont3{
    margin-bottom: 23px;
}
.smallbox{
    width: 211px;
    height: 192px;
    display: inline-block;
    border: 1px solid #e0dddd;
    background-color: #fcfafa;
    padding:22px 21px 23px 23px;
}
#btr::before,#btr::after{
    content: "\201c";
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;

}
.main-part-left{
    margin-bottom: 24px;
}
.list-item{
    width: 500px;
    
}
.column-left,.column-right{
    display: inline-block;
    vertical-align: top;
}
.column-left{
    margin-right: 43px;
}

.for-second-li-list{
    margin-bottom: 26px;

}
.lol::before{
    content: "\2192";
    margin-right: 20px;
    color: #38afe5;
}
.main-part-right{
    margin-bottom: 31px;
}
.creator{
    width: 211px;
    display: inline-block;
    text-align: center;
    line-height: 29px;
}