$yellow: #fce38a;
$red: #f38181;
$blue:#95e1d3;
$white:#fff;
$gray:#ccc;
$dark:#333333;
$grizzly5:#e5e5e5;
$grizzly7:#e7e7e7;
$grayly:#999999;
$Montserrat:Montserrat;
$Roboto:Roboto;
$Kaushan-Script:Kaushan Script;